:root{ 
    --DPR: 1;
}

body{
    margin:0;
    padding:0;
    background-color: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.scene{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2115;
    overflow: hidden;
}

.mount{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
}

.loadingCircle{
    border: 10px solid #777777;
    border-top: 10px solid #fff;
    border-width: (10px / var(--DPR));
    border-radius: 50%;
    width: 10vw;
    height: 0;
    padding-bottom: 10%;
    animation: loadingSpin 1s linear infinite;
    position: absolute;
    left: calc(45vw - 10px / var(--DPR));
    top: calc(50vh - 10px / var(--DPR));
    margin-top: -5%;
    z-index: 101001010;
}

.hidden{
    display: none;
}

@keyframes loadingSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

:root{ 
    --DPR: 1;
  }
  
  *:focus{
    outline: none;
  }
  
  ::-moz-selection {background: rgba(0,0,0,0);}
  ::selection {background: rgba(0,0,0,0);}
  ::-webkit-selection {background: rgba(0,0,0,0);}
  :not(input){
    -webkit-tap-highlight-color:  rgba(0,0,0,0); 
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .loading_circle{
    border: 10px solid #777777;
    border-top: 10px solid #fff;
    border-width: (10px / var(--DPR));
    border-radius: 50%;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    animation: loading_spin 1s linear infinite;
    position: absolute;
    left: calc(45% - 10px / var(--DPR));
    top: calc(50% - 10px / var(--DPR));
    margin-top: -5%;
    z-index: 101001010;
  }
  
  .hidden{
    display: none;
  }
  
  ::-webkit-scrollbar {
    width: calc(10px / var(--DPR));
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: calc(5px / var(--DPR));
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        width: 0;
        height: 0;
        opacity: 0
  }
  
  input[type=number] { 
    appearance: textfield;
    margin: 0; 
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  input[type="number"] {
    appearance: none; /* textfield also works! */
  }
  
  input[type="number"]:focus, 
  input[type="number"]:hover {
    appearance: auto;
  }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  
    -webkit-appearance: none !important;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  @keyframes loading_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @font-face {
    font-family: font;
    src: url(/assets/fonts/font-blocky.ttf);
  }
  
  @font-face {
    font-family: font2;
    src: url(/assets/fonts/font-normal.ttf);
  }
  
  ::selection { background: transparent; }
  ::-moz-selection { background: transparent; }
  
  @keyframes fade_out{
    0%   { opacity: 1; pointer-events: auto;}
    100%  { opacity: 0; pointer-events: none;}
  }
  
  @keyframes fade_in{
    0%   { opacity: 0; pointer-events: none;}
    100%  { opacity: 1; pointer-events: auto;}
  }
  
  @keyframes slide_in{
    0%   { transform: scale(1, 0); opacity: 0; pointer-events: auto; display: block;}
    100%  { transform: scale(1, 1); opacity: 1; pointer-events: none;}
  }
  
  @keyframes slide_out{
    0%  { pointer-events: none;}
    99%   { transform: scale(1, 0); opacity: 0; pointer-events: auto;}
    100%   { transform: scale(0, 0); opacity: 0 !important; pointer-events: none; display: none !important;}
  }
  
  
  .slide_in{
    animation: slide_in 0.25s ease-in-out 0s 1 forwards;
  }
  
  .slide_out{
    animation: slide_out 0.25s ease-in-out 0s 1 forwards;
  }
  
  .video{
    width: 100%;
    height: 100%;
    z-index: 2147483640;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  
  @keyframes background_animation {
    0% {background-color: #333; color: white;}
    50% {background-color: yellow; color: black;}
    100% {background-color: #333; color: white;}
  }
  
  .background_animation{
    animation: background_animation 0.5s ease-in-out 0s infinite forwards;
  }
  
  @keyframes color_animation {
    0% {color: white;}
    50% {color: yellow;}
    100% {color: white;}
  }
  
  .color_animation{
    animation: color_animation 1s ease-in-out 0s infinite forwards;
    text-shadow: 0 0 5px black;
  }
  
  @keyframes background_animation2 {
    0% {background-color: #333; color: white;}
    50% {background-color: lightskyblue; color: black;}
    100% {background-color: #333; color: white;}
  }
  
  .background_animation2{
    animation: background_animation2 0.5s ease-in-out 0s infinite forwards;
  }
  
  @keyframes color_animation2 {
    0% {color: white;}
    50% {color: lightskyblue;}
    100% {color: white;}
  }
  
  .color_animation2{
    animation: color_animation2 1s ease-in-out 0s infinite forwards;
    text-shadow: 0 0 5px black;
  }

  @keyframes background_animation3 {
    0% {background-color: #333; color: white;}
    50% {background-color: rgb(199, 58, 58); color: black;}
    100% {background-color: #333; color: white;}
  }
  
  .background_animation3{
    animation: background_animation3 0.5s ease-in-out 0s infinite forwards;
  }
  
  @keyframes color_animation3 {
    0% {color: white;}
    50% {color: rgb(199, 58, 58);}
    100% {color: white;}
  }
  
  .color_animation3{
    animation: color_animation3 1s ease-in-out 0s infinite forwards;
    text-shadow: 0 0 5px black;
  }